body {
  background-color: #000000;
}

#header {
  font-family: "Roboto", sans-serif;
  color: white;
}

#norrisImage {
  margin-top: 25px;
}

#message {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

#twitterContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

#buttonContainer {
  margin-right: 450px;
}

#twitterButton {
	color: white;
	font-size: 20px;
}